# Comparing Performance Classification Cancer with SVM and Naive Bayes

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import svm

C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:35: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps,
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:597: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:836: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1074: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=1, eps=np.finfo(np.float).eps,
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1306: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=1, eps=np.finfo(np.float).eps,
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1442: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\randomized_l1.py:152: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  precompute=False, eps=np.finfo(np.float).eps,
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\randomized_l1.py:318: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, random_state=None,
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\linear_model\randomized_l1.py:575: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=4 * np.finfo(np.float).eps, n_jobs=1,

In [3]:
df = pd.read_csv ("D:/Code/Data/Data Cancer.csv")
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,3,1,1,2
1,5,4,4,5,7,3,2,1,2
2,3,1,1,1,2,3,1,1,2
3,6,8,8,1,3,3,7,1,2
4,4,1,1,3,2,3,1,1,2

In [6]:
LE=LabelEncoder()
df.Class=LE.fit_transform(df.Class)
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,3,1,1,0
1,5,4,4,5,7,3,2,1,0
2,3,1,1,1,2,3,1,1,0
3,6,8,8,1,3,3,7,1,0
4,4,1,1,3,2,3,1,1,0

In [7]:
df.tail()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
694,3,1,1,1,3,1,1,1,0
695,2,1,1,1,2,1,1,1,0
696,5,10,10,3,7,8,10,2,1
697,4,8,6,4,3,10,6,1,1
698,4,8,8,5,4,10,4,1,1

In [8]:
#Set 70% training and 30% testing
x=df.drop("Class",axis=1)
y=df.Class
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=123)

In [9]:
print(x_train)

     Clump Thickness  Uniformity of Cell Size  Uniformity of Cell Shape  \
34                 3                        1                         2
33                 2                        1                         1
285                8                       10                        10
453                4                        5                         5
295                5                        5                         7
118                1                        1                         1
15                 7                        4                         6
42                 6                       10                        10
514                6                        6                         7
294                1                        1                         1
171                1                        1                         1
174                8                        6                         5
227                8                        9                         9
404                1                        2                         1
263               10                        4                         4
665                1                        1                         1
93                 1                        1                         1
429                2                        1                         1
55                10                        6                         6
506                8                       10                        10
444                5                        1                         1
593                5                        1                         2
509                2                        1                         1
116                8                        3                         3
417                1                        1                         1
268               10                        8                         8
677                5                        1                         1
690                1                        1                         1
652                5                        1                         1
254                9                       10                        10
..               ...                      ...                       ...
39                 2                        5                         3
340               10                        3                         3
2                  3                        1                         1
451                5                        1                         1
68                 8                        3                         8
208                1                        1                         1
608                5                       10                        10
420                3                        2                         2
253                6                       10                        10
339                8                        5                         5
409                3                        1                         2
111                8                        6                         4
224               10                        5                         5
544                2                        1                         3
73                 9                        4                         5
47                 1                        1                         1
638                4                        1                         1
113               10                       10                        10
96                 2                        1                         1
214               10                       10                        10
569               10                       10                         8
123                5                        3                         5
106               10                       10                        10
595                5                        1                         1
17                 4                        1                         1
98                 9                        6                         9
322                3                        1                         1
382                3                        2                         2
365                2                        1                         1
510                1                        1                         1

     Marginal Adhesion  Single Epithelial Cell Size  Bland Chromatin  \
34                   1                            2                2
33                   2                            2                3
285                 10                            8               10
453                  8                            6               10
295                  8                            6                7
118                  1                            4                1
15                   4                            6                4
42                   2                            8                7
514                 10                            3                8
294                  1                            2                2
171                  1                            2                3
174                  4                            3                6
227                  5                            3                7
404                  3                            2                1
263                 10                            6                5
665                  1                            2                1
93                   1                            2                2
429                  1                            2                2
55                   3                            4                3
506                 10                            7                4
444                  6                            3                2
593                  1                            2                1
509                  1                            2                1
116                  1                            2                3
417                  1                            2                2
268                  2                            3                8
677                  1                            2                1
690                  3                            2                1
652                  1                            2                2
254                  1                           10                3
..                 ...                          ...              ...
39                   3                            6                7
340                  1                            2                7
2                    1                            2                3
451                  1                            2                1
68                   3                            4                8
208                  1                            1                3
608                 10                           10               10
420                  3                            2                3
253                  2                            8                7
339                  5                            2                4
409                  1                            2                2
111                  3                            5                3
224                  6                            3                7
544                  2                            2                2
73                  10                            6                4
47                   1                            2                2
638                  1                            2                1
113                  3                           10                8
96                   2                            2                1
214                 10                            3               10
569                 10                            6               10
123                  1                            8                5
106                  8                            2                4
595                  1                            2                2
17                   1                            2                3
98                   2                           10                2
322                  1                            2                3
382                  2                            2                3
365                  1                            2                2
510                  1                            2                1

     Normal Nucleoli  Mitoses
34                 1        1
33                 1        1
285                7        3
453                7        1
295                4        1
118                1        1
15                 3        1
42                 3        3
514               10        2
294                1        1
171                1        1
174                1        1
227                7        1
404                2        1
263                5        1
665                1        1
93                 1        1
429                1        1
55                 6        1
506                8        7
444                1        1
593                1        1
509                1        1
116                2        1
417                1        1
268                7        8
677                1        1
690                1        1
652                2        1
254                3        1
..               ...      ...
39                 5        1
340                6        1
2                  1        1
451                1        1
68                 9        8
208                1        1
608                1        1
420                1        1
253                3        3
339                3        1
409                1        1
111                1        1
224                9        2
544                1        1
73                 8        1
47                 1        1
638                1        1
113                1        1
96                 1        1
214                6        1
569                3        1
123                3        1
106                1        1
595                1        1
17                 1        1
98                 9       10
322                1        1
382                2        1
365                1        1
510                1        1

[489 rows x 8 columns]

SVM Linear

In [10]:
#Linear Kernel
clf=svm.SVC(kernel='linear')

In [11]:
#Train the model using the training sets
clf.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [12]:
#Predict the response for the dataset
y_pred = clf.predict(x_test)

In [13]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[127   4]
 [  3  76]]
             precision    recall  f1-score   support

          0       0.98      0.97      0.97       131
          1       0.95      0.96      0.96        79

avg / total       0.97      0.97      0.97       210

SVM Polinomial Berderajat 3

In [14]:
#Polynomial kernel
clfpoly = svm.SVC(kernel='poly', degree=3)

#Train the model using the training sets
clfpoly.fit(x_train, y_train)

#Predict the response for test dataset
y_predpoly = clfpoly.predict(x_test)

In [15]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_predpoly))
print(classification_report(y_test,y_predpoly))

[[125   6]
 [  6  73]]
             precision    recall  f1-score   support

          0       0.95      0.95      0.95       131
          1       0.92      0.92      0.92        79

avg / total       0.94      0.94      0.94       210

Naive Bayes

In [16]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)

GaussianNB(priors=None)

In [17]:
y_pred = clf.predict(x_test)

In [18]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[127   4]
 [  3  76]]
             precision    recall  f1-score   support

          0       0.98      0.97      0.97       131
          1       0.95      0.96      0.96        79

avg / total       0.97      0.97      0.97       210